#dashboard-container{
    display: grid;
    grid-template-columns: auto 100% auto;
    grid-template-areas: ". dashboard .";

    >div{
        grid-area: dashboard;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        position: relative;

        svg{
            width: 100%;
            position: absolute;
        }
    }

    #background{
        // display: flex;
        // justify-content: center;
        // align-items: center;

        // height: 40vh;
        // background-position: center;
		// background-repeat: no-repeat;
		// background-size: cover;
        // // display: flex;

        #myVideo {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
          }
    }
}