#dashboard-container{
    display: grid;
    grid-template-columns: auto 100% auto;
    grid-template-areas: ". dashboard .";

    >div{
        grid-area: dashboard;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;

        position: relative;

        svg{
            width: 100%;
            position: absolute;
        }
    }
}