#loading-container{
    display: grid;
    grid-template-columns: auto 100% auto;
    grid-template-areas: ". loading .";

    >div{
        grid-area: loading;
        // background-color: #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        position: relative;

        svg{
            width: 100%;
            position: absolute;
        }
    }
}